# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
obj/Debug/net5.0/penandpaper.AssemblyInfo.cs
obj/Debug/net5.0/penandpaper.AssemblyInfoInputs.cache
obj/Debug/net5.0/penandpaper.assets.cache
obj/Debug/net5.0/PenAndPaper.csproj.AssemblyReference.cache
obj/Debug/net5.0/penandpaper.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/penandpaper.csproj.FileListAbsolute.txt
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.json
obj/Debug/net5.0/penandpaper.genruntimeconfig.cache
*.editorconfig
*.props
*.targets
obj/project.nuget.cache
src/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.cache
*.txt
src/obj/Debug/net5.0/PenAndPaper.AssemblyInfo.cs
